

@import 'write_here_anypost.css';

.webmapp_main_tax i.webmapp_icon_single,
.webmapp_main_tax i.webmapp_icon_multiple,
.webmapp_main_tax_single span.webmapp_single_term a
{
    color: #fff;
}

/*
div.webmapp_post_terms .webmapp_single_term a i
{
    filter: brightness(140%);
}
*/



.webmapp_loader_img {
    position:  absolute;
    /* vertical-align: middle; */
    /* margin: 0 auto; */
    width: 50px;
    height: 50px;

    z-index: 99999;

}

.webmapp-on-pagination {
    position: relative;
    display: block;
}

/**
LAYOUT
 */

.webmapp_anypost_shortcode
{



    width: 100%;

}

/**
PAGINATION
 */

.webmapp-pagination{
    /* position: absolute; */
    /* bottom: -100px; */
    display: table;
    width: auto;
    margin: 15px auto;
    text-align:  center;
}


.pagination_link_wrapper
{
    cursor: pointer;
    display:  inline-block;
    margin:  0 auto;
    font-size: 0;
    /* color:  transparent; */
}

.pagination_link_wrapper:not(.active) a
{
    opacity: 0.5;
}

.pagination_link {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin: 0 2px;
}

/**
IMG
 */

.webmapp_post-featured-img
{
    position: relative;
}
.webmapp_post_image
{
    overflow:hidden; /*hide bounds of image */
    margin:0;   /*reset margin of figure tag*/
    /* display: table-row; */
    /* height: 100px; */
}
.webmapp_post_image img
{
    display:block; /*remove inline-block spaces*/
    width: 100%;
}




/**
TITLE
 */
.webmapp_shortcode_any_post .webmapp_post-title h2 a
{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

@media screen and (max-width: 770px)
{
    .webmapp_shortcode_any_post .webmapp_post-title h2 a {
        font-size: 18px!important;
    }
}


/**
TERMS
 */

.webmapp_main_tax {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-flex;
    font-weight: 500;
}

.webmapp_main_tax_single
{
    padding: 0 10px 0 0;
}
.webmapp_shortcode_any_post .webmapp_post_terms .webmapp_single_term i:before
{
    filter: brightness(150%);
}



.webmapp_main_tax i
{
    width: 33px;
    height: 33px;
    display: table-cell;
    text-align:  center;
    vertical-align: middle;
    font-weight: bold;
}

i.webmapp_icon_multiple {
    /* height: 33px; */
}


div.webmapp_post_terms .webmapp_single_term a
{
    margin-right: 10px;
}


.webmapp_main_tax .webmapp_single_term span
{
    padding: 7px 7px 3px 9px;
    display: table-cell;
    height: 27px;
}

.webmapp_single_term a span {
    font-size: 18px;
}
.webmapp_single_term a i {
    font-size: 15px;
}

/**
SHOW ALL LINKS
 */

.webmapp_anypost_show_all
{
    text-align: right;
}

/**
    FIX ELEMENTS ALIGN
 */

.col-md-4.webmapp_shortcode_any_post:first-child
{
    padding-left: 0;
}

.col-md-4.webmapp_shortcode_any_post:first-child
{
    padding-right: 0;
}

.webmapp_posts_controller.webmapp-grid-system .webmapp-container-fluid
{
    padding-left: 0;
    padding-right: 0;
}