/**
Template compact
**/
.webmapp-anypost-template-compact .webmapp_post-featured-img, .webmapp-anypost-template-compact .webmapp_post-featured-img ~ p
{
    float : left;
}
.webmapp-anypost-template-compact .webmapp_post-featured-img
{
    width: 40%;
}

.webmapp-anypost-template-compact .webmapp_post-featured-img ~ p
{
    width: 55%;
    text-align: justify;
    float: right;
}