.webmapp-list-terms ul.webmapp-terms li {
    list-style:  none;
    font-size: 16px;
}

.webmapp-list-terms .webmapp-any-terms-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.wm-list-terms .webmapp-any-terms-subtitle {
    font-size: 14px;
}



.webmapp-list-terms ul.webmapp-terms {
    list-style: darkslateblue;
    padding-left: 0;
    margin: 15px 0;
}

.webmapp-list-terms ul.webmapp-terms li span {
    margin-right: 5px;
}

.webmapp-list-terms ul.webmapp-terms li i {
    /* font-size: 13px; */
}

.webmapp-list-terms ul.webmapp-terms li i.fa
{
    margin-left: 10px;
}