/* MarkersCluster style */

$color-box-shadow: #12100b;
$color-white: #ffffff;
$color-brown: #605846;

.marker-cluster {
  border: 3px solid transparentize($color-box-shadow,0.4);
  border-radius: 50%;
  background: transparent;
  -webkit-box-sizing: border-box; // Safari <= 5
  -moz-box-sizing: border-box; // Firefox <= 19
  box-sizing: border-box;
  div {
    margin-left:0;
    margin-top: 0;
    border-radius: 50%;
    // font-family: $main-font-family;
    font-size: 20px;
    color: $color-white !important;
  }

}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  div {
    background-color: transparentize($color-brown,0.2) !important;
}

}

.marker-cluster-small {
  width: 40px !important;
  height: 40px !important;
  div {
    width: 34px !important;
    height: 34px !important;
    line-height: 32px !important;
}
}

.marker-cluster-medium {
  width: 55px !important;
  height: 55px !important;
  div {
    width: 49px !important;
    height: 49px !important;
    line-height: 47px !important;
}
}

.marker-cluster-large {

  width: 65px !important;
  height: 65px !important;
  div {
    width: 59px !important;
    height: 59px !important;
    line-height: 57px !important;
}
}

.leaflet-clickable {
  cursor: pointer;
}

.force-hide {
  display: none !important;
}

.advanced-layout {
  a.leaflet-control-layers-toggle {
    display: none;
}
}