

/**
THEME CUSTOMIZER
 */


.webmapp_customizer_general_font1-font-family
{
    font-weight: 700;
}

.webmapp_customizer_general_font3-font-family
{
    font-weight: 400;
}

/**
Single template layout
 */

#leftarea.webmapp-fullwidth
{
    float: none;
    width: 100%;
}
/**
SINGLE LAYERS of single template
 */

#webmapp-layer-4, #webmapp-layer-3, #webmapp-layer-2
{
    padding: 10px 0;
}

/**
 SINGLE TEMPLATE HEADER
 */


.webmapp-featured-image-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.webmapp-featured-image, .webmapp-featured-image .container {
    position: relative;
}

.webmapp-featured-image .container, .webmapp-featured-image-img {
    height: 400px;
}

.webmapp-featured-image .container h2 
{
    position: absolute;
    bottom: 0;
    line-height: 0;
    padding: 0;
} 

.container:before {
    display: none;
}

.webmapp-main-tax-span-wrapper
 {
     display:  block;
 }

.webmapp-main-tax-span-wrapper i, .webmapp-main-tax-span-wrapper span 
{
     display: table-cell;
     padding: 10px 10px;
     color: white;
}

.webmapp-main-tax-name.multiple .webmapp-main-tax-span-wrapper > span
{
    display: none;  
}

.webmapp-main-tax-name.multiple .webmapp-main-tax-span-wrapper 
{
    display: contents;
}

p.webmapp-theshortinfo span i:first-child {
    padding-left: 5px;
}

p.webmapp-theshortinfo span:not(:last-child):after {
    content: '|';
    padding-left: 5px;
}

/**
SINGLE TEMPLATE RELATED OBJECTS ( on right side )
 */

.webmapp-related-objects-title
{
    text-transform: capitalize;
}

.webmapp-related-objects-subtitle
{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

/**
SINGLE THEINFO
 */

.webmapp-theInfo-template-single table
{
    width: 100%;
}

.webmapp-theInfo-template-single tr:not( :last-child )
{
    border-bottom: 1px solid #96969b;
}

.webmapp-theInfo-template-single th
{
    vertical-align: top;
}

#left-area .webmapp-theInfo-template-single ul
{
    padding-left: 0;
}
.webmapp-theInfo-template-single ul li
{
    list-style-type: none;
    /* margin-left: -14px; */
}