

/**
TAXONOMY TEMPLATE
 */
.webmapp-term-featured-image {
    margin-bottom: 60px;
}

.webmapp-term-featured-image-img
{

    position: relative;
}

.webmapp-term-featured-image-img img
{
    width: 100%;
    max-height: 600px;
}

.webmapp-term-featured-title {
    margin-bottom: 40px;
    /* position:  absolute; */
    /* bottom: 0; */
    /* left: 50px; */
    /* padding: 8px 50px; */
    /* background-color: #fafa; */
    /* margin: 0; */
    /* width: 10000032px; */
}

.webmapp-term-name {
    position:  absolute;
    bottom: 0;
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 41px;
}

.webmapp-term-name i {
    background-color: #0300db;
    color: #fff;
    width: 33px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 10px;
}

.webmapp-term-name span
{padding: 10px 25px;display: table-cell;height: 27px;background-color: #0300db7a;color: #fff;/* padding-right: 10px; */}